## template: jinja
#!/usr/bin/env bash

cat << EOF > /etc/vault.d/vault.hcl

# Common parameters
ui = true
cluster_name =  "cluster-${region}"
raw_storage_endpoint = true
introspection_endpoint = true
#mlock = true
disable_mlock = true
plugin_directory = "/opt/vault"

# Setting log level
log_level = "${log_level}"

# Storage Raft stanza
storage "raft" {
  path = "/opt/vault/data"
  node_id = "${node_id}"
# 1.16 only
  raft_wal = "true"
  raft_log_verifier_enabled = "true"
  raft_log_verification_interval = "20s"
  retry_join {
    auto_join = "provider=aws addr_type=private_v4 tag_key=Name tag_value=vault-${region}-* region=${region}"
  }
}

cluster_addr = "https://{{ds.dynamic.instance_identity.document.privateIp}}:8201"
api_addr = "https://{{ds.dynamic.instance_identity.document.privateIp}}:8200"

# HTTPS listener
listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "/etc/vault.d/tls.crt"
  tls_key_file  = "/etc/vault.d/tls.key"
  inflight_requests_logging {
    unauthenticated_in_flight_requests_access = true
  }
  telemetry {
    unauthenticated_metrics_access = true
  }
}

# Example AWS KMS auto unseal
seal "awskms" {
  region = "${region}"
  kms_key_id = "${kms_key_id}"
}

telemetry {
  disable_hostname = true
  prometheus_retention_time = "24h"
}
EOF

sudo chown -R vault:vault /etc/vault.d
sudo chmod -R 0644 /etc/vault.d/*

cat << EOF > /etc/profile.d/vault.sh
export VAULT_ADDR=https://127.0.0.1:8200
EOF
